[Unit]
Description=Discord_Bot_Service
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/Desktop/DiscordBot/
ExecStart=npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=propanel
User=root
Group=root
Environment=NODE_ENV=prod

[Install]
WantedBy=multi-user.target